

~*
*~
.directory
.vs
code.lock
*.downloading
/a.out
/*.stackdump
/*.deb
/*.rpm

/.*

/Desktop

# Linux
/snap
/Backups
/Cache
/CachedData
/CachedExtensions
/Code Cache
/Cookies
/Cookies-journal
/Crash Reports
/Documents
/GPUCache
/Local Storage
/Network Persistent State
/Session Storage
/TransportSecurit
/User
/exthost Crash Reports
/languagepacks.json
/logs
/machineid
/rapid_render.json
/storage.json
/anaconda-ks.cfg
/initial-setup-ks.cfg
/CachedProfilesData
/Crashpad
/DawnCache
/Dictionaries
/Preferences
/Service Worker
/TransportSecurity
/Trust Tokens
/Trust Tokens-journal
/WebStorage
/databases


# Windows
/3D Objects
/AppData
/Application Data
/Contacts
/Favorites
/Links
/Local Settings
/Music
/My Documents
/NTUSER.DAT*
/NetHood
/OneDrive
/Pictures
/PrintHood
/Recent
/Saved Games
/Searches
/SendTo
/Templates
/Videos
/ntuser.dat.*
/ntuser.ini
# localized display name of "Start Menu"
/Start Menu
/「开始」菜单
/「開始」功能表
/Menú Inicio
/Menu Iniciar
/Menu Démarrer
/Startmenü
/Menu Start
/Menu Avvio
/Пуск
/スタート メニュー
/시작 메뉴
/قائمة ابدأ
/प्रारंभ मेनू
/স্টার্ট মেনু
/Başlat Menüsü


# whitelist must be put last
!/~git-tools~
!/~shortcuts*
!/.gnupg
!/.ssh
!/.config
!/.bash_profile
!/.bashrc
!/.bashrc.d
!/.bashrc.private
!/.gitconfig
!/.gitignore
!/.gitattributes
!/.hgignore
!/.hgrc
!/.minttyrc
!/.wgetrc
!/.curlrc
