
/binutils*
/gdb*
/gmp*
/mpfr*
/mpc*
/gcc*
/llvm*
/qemu*
/cmake*
/meson*
/make*
/bash*
/python*
/perl*
/tcl*
/tk*
/expect*
/openjdk*
/runtime*
/roslyn*
/cygwin*
/mingw*
/mintty*
/konsole*
/gnome-terminal*
/*.xz
/*.tar
/*.bz2
/*.gz
/*.zst
/__mingw-vcrt*
/__mingw-ucrt*
/__cygwin*
/__linux*

!/*.sha512
!/*.cygport
!/*.cmd
!/*.sh
