
/binutils
/gdb
/gmp
/mpfr
/mpc
/gcc
/llvm
/qemu
/cmake
/meson
/make
/bash
/python
/perl
/tcl
/tk
/git
/expect
/openjdk
/runtime
/roslyn
/cygwin
/mingw
/mintty
/konsole
/gnome-terminal
/*-build
/*-install
/*.xz
/*.tar
/*.bz2
/*.gz
/*.zst
/__mingw_ucrt-*
/__mingw_vcrt-*
/__cygwin-*
/__linux-*
/__vs20??-*
/_temp

/*.cpp
/*.c
/*.out
/*.exe
/*.dll
/*.o
/*.obj


!/*.sha512
!/*.cmd
!/*.sh
